Getting[[:space:]]Started[[:space:]]with[[:space:]]Beautiful[[:space:]]Soup.pdf filter=lfs diff=lfs merge=lfs -text
lxmldoc-3.4.1.pdf filter=lfs diff=lfs merge=lfs -text
OReilly.Web.Scraping.with.Python.pdf filter=lfs diff=lfs merge=lfs -text
